.body {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr;
    justify-items: stretch;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    
    
}

.body__divider {
    border: 0;
    height: 1px;
    grid-column: 1/2;
    grid-row: 2/2;
    background-color:white;
}