* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.app {
  display: flex;
  /* grid-template-columns: 300px 3fr 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: stretch; */
  height: 100vh;
}