.ticket-details {
    width: 900px;
    background-color: #f7f7f7;
}

.ticket-details__cover-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.ticket-details__content {
    padding: 24px;
    padding-right: 34px;
}

.ticket-details__priority {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 6px;
}

.ticket-details__code {
    display: none;
}

.ticket-details__title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 8px;
}

.ticket-details__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
}

.ticket-details__tags-tag,
.ticket-details__tags-tag--add {
    margin-right: 10px;
    margin-bottom: 6px;
    padding: 10px 18px;
    border: 1px solid #858585;
    color: #858585;
}

.ticket-details__tags-tag--add {
    background-color: black;
    color: white;
    cursor: pointer;
}

.ticket-details__description {
    line-height: 1.4;
    margin-bottom: 23px;
}

.ticket-details__attachment-title {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 8px;
}

.ticket-details__attachments {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    height: 200px;
}

.ticket-details__attachments>.attachment {
    height: 60px;
    width: 200px;
    background-color: rgb(198, 198, 198);
    margin-right: 8px;
    margin-bottom: 8px;
}

.ticket-details__heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;
}

.ticket-details__heading-button-group {
    display: flex;
}

.ticket-details__button-close {
    background-color: #FF3232 !important;
    font-weight: bold;
}

.ticket-details__button-edit,
.ticket-details__button-close {
    padding: 12px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-left: 4px;
}